<% provide(:title, "Home") %>
<div class="center jumbotron">
	<% if !logged_in? %>
		<h1>Welcome to Incubus Music Search and Recommendation Engine</h1>
		<h2>
			This is the home page Incubus!
		</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

	<% else %>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<%= form_tag(search_path, method: :get) do %>
					<%= text_field_tag(:search, params[:search], class: 'form-control') %>
					<%= submit_tag("Search!", class: "btn btn-lg btn-primary") %>
				<% end %>
			</div>
			<% artist_info = search_api %>
			<div class="col-md-6 col-md-offset-3">
				<% if params.key?(:search) %>
					<% if artist_info["error"] == 6 %>
						<h1><%= artist_info["message"] %></h1>
					<% else %>
						<% insert_artist %>
						<% add_to_history %>
						<br>
						<h2> <strong><%= artist_info["artist"]["name"] %></strong> </h2>
						<%=	image_tag(artist_info["artist"]["image"][2]["#text"]) %>
			</div>			
						<div class="col-md-12">
							<h3> <strong> Summary </strong> </h3> <br>
							<%= artist_info["artist"]["bio"]["summary"].html_safe %> 
						</div>

		</div>
					<div class="row">
						<h2><strong> Related Artist </strong></h2>
						<% for i in 0..3 %>
							<div class="col-md-3">
								<%= image_tag artist_info["artist"]["similar"]["artist"][i]["image"][2]["#text"] %>
								<br>
								<%= artist_info["artist"]["similar"]["artist"][i]["name"] %>
							</div>
							<% end %>
					</div>

					<div class="row">
						<% songs = search_songs %>
						<h2><strong> Popular Songs </strong></h2>
						<% for i in 0..5 %>
						<div class="col-md-2">
								<%= image_tag songs["toptracks"]["track"][i]["image"][1]["#text"] %><br>
								<%= songs["toptracks"]["track"][i]["name"] %>
							</div>
						<% end %>
					</div>	
					<div class="row">
						<h2><strong> Popular Albums </strong></h2>
						<% albums = search_albums %>
						<% for i in 0..5 %>
						<div class="col-md-2">
								<%= image_tag albums["topalbums"]["album"][i]["image"][1]["#text"] %><br>
								<%= albums["topalbums"]["album"][i]["name"] %>
						</div>
						<% end %>
					</div>	

					<% end %>
				<% end %>
			
		</div>
  	<% end %>
</div>
